PROD=0

HTTPS_PROXY=''
HTTP_PROXY=''

APP_DIR_CONTR="/usr/src/questionsapp/"
APP_DIR_HOST="./"

LOGS_DIR_HOST="/mnt/c/Users/DevMethod/Documents/Projects/EDUPROJECT/logs/questionsapp/"
LOGS_DIR_CONTR="/usr/src/logs/"
ATTACH_DIR_HOST="/mnt/c/Users/DevMethod/Documents/Projects/EDUPROJECT/attachments/"
ATTACH_DIR_CONTR="/usr/src/attachments/"
DATA_DIR_HOST="/mnt/c/Users/DevMethod/Documents/Projects/EDUPROJECT/src/data/"
DATA_DIR_CONTR="/usr/src/data/"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=2

TZ=Europe/Moscow
PGTZ=Europe/Moscow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
PG_BASE=infobase
PG_CONTAINER=postgresdb
PG_PORT=5432
POSTGRES_PORT=5432

TEL_TOKEN=token
TEL_INFO_CHAT=000000000

SUPP_DB_HOST=10.0.0.0
SUPP_DB_PORT=1521
SUPP_DB_SID=sid
SUPP_DB_USERNAME=username
SUPP_DB_PASS=pass

ETD2_DB_HOST=srv-etd2p1-ora01st
ETD2_DB_PORT=1521
ETD2_DB_SERVICENAME=servicename
ETD2_DB_USERNAME=username
ETD2_DB_PASS=pass

IAC_BOT_TOKEN=token

CONFLUENCE_BOT_NAME=bot
CONFL_BOT_PASS=pass
CONFLUENCE_BASE_URL=https://edu.emias.ru/
CONFLUENCE_PUBLIC_TESTPAGE_ID=39978224
CONFLUENCE_SPACEINFO_PAGE=https://edu.emias.ru/rest/api/content/45777916?expand=body.storage

QUESTIONS_ATTACHMENTS=/usr/src/attachments
QUESTIONS_MAIN_PAGE=https://edu.emias.ru/pages/viewpage.action?pageId=133567933

QUESTIONSAPP_URL_PREFIX=/eduportal/questions

DEFAULT_FORMAT=UTF-8

QUESTIONS_INWORK_TIME=180
QUESTIONS_ANSWERED_TIME=3600
QUESTIONS_NOTIFY_INWORK=300
