amqp==5.2.0
ansi2html==1.8.0
async-timeout==4.0.3
atlassian-python-api==3.41.3
bcrypt==4.0.1
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.7.0
Brotli==1.1.0
celery==5.3.6
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
contourpy==1.2.0
cramjam==2.7.0
cx-Oracle==8.3.0
cycler==0.12.1
dash==2.14.2
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
Deprecated==1.2.14
dtale==3.8.1
et-xmlfile==1.1.0
fastparquet==2023.10.1
Flask==2.2.5
Flask-Compress==1.14
Flask-Cors==4.0.0
flask-ngrok==0.0.25
Flask-SQLAlchemy==3.0.1
fonttools==4.45.0
fsspec==2023.10.0
future==0.18.3
greenlet==3.0.1
gunicorn==21.2.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kaleido==0.2.1
kiwisolver==1.4.5
kombu==5.3.4
lxml==4.9.3
lz4==4.3.2
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
missingno==0.5.2
nest-asyncio==1.5.8
networkx==3.2.1
numpy==1.26.2
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
pandas==2.1.3
patsy==0.5.3
Pillow==10.1.0
plotly==5.18.0
prompt-toolkit==3.0.41
psycopg2-binary==2.9.9
pyarrow==14.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
scikit-learn==1.3.2
scipy==1.11.4
seaborn==0.13.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==1.4.46
squarify==0.4.3
statsmodels==0.14.0
strsimpy==0.2.1
tenacity==8.2.3
threadpoolctl==3.2.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.12
Werkzeug==3.0.1
wrapt==1.16.0
xarray==2023.11.0
xlrd==2.0.1
zipp==3.17.0
